<style>

.chart div {
  font: 18px sans-serif;
  background-color: steelblue;
  padding: 6px;
  margin: 2px;
  color: white;
  height: 40px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

</style>

<div class="chart">
{% for result in include.results %}
{% assign score = result[include.score] %}
  <div style="width: {{ score | times: 5.0 }}px;">
    <p class="alignleft">{{ result.authors }} ({{ result.year }})</p>
    <p class="alignright">{{ score }}</p>
  </div>
{% endfor %}
</div>
