{% assign scores = include.scores | split: "," %}

<table>
  <thead>
    <tr>
      <th>Model</th>
      {% for score in scores %}
      <th style="text-align: center">{{ score | capitalize }}</th>
      {% endfor %}
      <th>Paper / Source</th>
    </tr>
  </thead>
  <tbody>
  {% for result in include.results %}
    <tr>
      <td>{% if result.model %} {{ result.model }} by {% endif %} {{ result.authors }} ({{ result.year }})</td>
      {% for score in scores %}
      <td style="text-align: center">{{ result[score] }}</td>
      {% endfor %}
      <td><a href="{{ result.url }}">{{ result.paper }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
